.config-tab {
  padding-top: 10px;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.up_time {
  padding: 0 1em;
  font-size: x-small;
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.chart_options {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.z_option {
  display: block;
  margin: 0 .3em;
  font-size: .9em;
  cursor: pointer;
  color: $primary;
  padding: 2px 7px;
  border-radius: 5px;
}

.option_sel {
  color: $red;
}

$loader_sx: 150px;
$loader_sy: 150px;

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow: hidden;
  transition: background-color 2s;
  background-color: transparentize(#fff, .3);
  display: flex;
  align-items: center;
  justify-content: center;
}


.loaderInline {
  position: relative;
  width: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderAbsolute {
  position: absolute;
  background: transparent;
}

.loaderBody {
  color: darkred;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.loaderImg {
  display: block;
  width: $loader_sx;
  height: $loader_sy;
  transform-origin: center center;
  margin: 0 auto;
}

.loaderInline .loaderImg {
  width: $loader_sx / 2;
  height: $loader_sy / 2;
}

h4.relay {
  padding: 5px;
  border-radius: 5px;
  color: darkgreen;
}

h4.relay.on {
  color: white;
  background-color: darkgreen;
  text-align: center;
}

.donut-chart {
  position: absolute;
  top: 0;

  g.sector {
    pointer-events: none;

    path.color {
      pointer-events: visible;

      &.ghost {
        fill: gray;
      }
    }
  }

  path.color {
    stroke: none;
  }

  g.strokes,
  path.line {
    stroke-width: .5px;
    stroke: gray;
    fill: none;
    pointer-events: none;
  }
}

.square-form {
  width: 100%;
  padding-top: 100%;
  // background-color:#ffdddd;
  position: relative;

  .percent-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    color: red;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    font-family: Georgia;
    align-items: center;
  }
}

#chart-container {
  width: 100%;
  position: relative;
}

#zoom-out-button {
  position: absolute;
  bottom:0;
  width:100px;
  right: 0;
}

.hint {
  color: silver;
  font-size: 70%;
}

.highcharts-reset-zoom {
  display: none;
}

.files-list-box {
  display: flex;
  flex-wrap: wrap;

  .files-list-item {
    background-color: #f2f2f2;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    margin: 2px;
    padding: 1px 4px 0 4px;
    font-size: 6pt;
    cursor: default;

    &:hover {
      background-color: pink;
    }
  }
}

.btn-outline-primary {
background-color: white;
}
